.body {
  /* background-image: url("/src/assets/images/images.jpg"); */
  background-size: cover; /* Makes the image cover the entire page */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
